* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 80px 15%;
}

#preview {
    width: 60%;
    min-height: 500px;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#components {
    width: 30%;
    min-height: 500px;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.component-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 8px;
    border: 1px solid black;
}
