<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/cars.css">
    <title>Cars</title>
</head>
<body>
    <div class="container">
        <header>
            <h2 id="header-title" class="big-text">Card Catalog</h2>
            <form action="/cars" method="get">
                <input type="text" name="model" id="search-input">
                <input type="submit" value="Search" id="search-btn">
            </form>
        </header>
        <main>    
            <div id="cards-block">
                {{#each cars}}
                    <div class="car-card">
                        <h3 class="card-model big-text">{{this.model}}</h3>
                        <p class="card-price medium-text">{{this.price}}</p>
                    </div>
                {{/each}}
            </div>
        </main>
    </div>  
</body>
</html>